@model BitirmeBahar2.Models.Makale

  @{
	  ViewBag.Title = "MakaleDetay";
	  Layout = "~/Views/Shared/_Layout2.cshtml";
}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@*<link href="~/Content/style.css" rel="stylesheet" type="text/css" />*@
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<script src="~/Scripts/modernizr-2.6.2.js"></script>






<style>
	body {
	}

	a {
		text-decoration: none
	}

	h1, h2, h3, h4 {
		padding-bottom: 10px
	}

	h1, h2, h3 {
		text-align: center
	}

	.btn-primary, .btn-block {
		color: #fff;
		padding: 10px 34px;
		background-color: #4f5173;
		border-color: #fdfffb;
	}

		.btn-primary:hover, .btn-block:hover {
			color: #cee8f0;
			padding: 10px 34px;
			background-color: #404264;
			border-color: #000;
		}

		.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
			color: #cee8f0;
			padding: 10px 34px;
			background-color: #404264;
			border-color: #000;
		}

	.btn-default {
		color: #000;
		padding: 12px 36px;
		background-color: #fff;
		border-color: #313438
	}

		.btn-default:hover {
			color: #000;
			padding: 12px 36px;
			background-color: #fff;
			border-color: #000;
			box-shadow: 8px 5px 5px #888
		}

		.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
			color: #fff;
			background-color: #000;
			border-color: #fff;
			padding: 12px 36px;
			box-shadow: 8px 5px 5px #888
		}

	::selection {
		background: #000;
		color: #fff
	}

	::-moz-selection {
		background: #000;
		color: #fff
	}

	.card {
		margin-top: 50px;
		padding: 1.3rem;
		position: relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		min-width: 100px;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid rgba(0, 0, 0, .125);
		border-radius: .25rem;
		box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
	}

	.post-header {
		margin-bottom: 2.2rem;
		margin-top: -1rem;
	}

	.tag {
		padding: 1px 10px 1px 8px;
		color: #e6faff;
		background: #4f5173;
	}

	.post-content {
		padding-top: 1rem;
		padding-bottom: 1.5rem;
	}

	.date {
		margin: -1.3rem;
		background: #007b5e;
		color: #e6faff;
		margin-bottom: 1rem;
		padding-left: 1rem;
	}

	.span-post-no {
		text-align: right;
		margin-right: 1rem;
		float: right;
	}

	.post {
		margin-bottom: 2rem;
	}

	.likes {
		background: #007b5e;
		color: #e6faff;
		border-radius: .1rem;
		padding-left: 1rem;
		margin: -1.3rem;
	}

	a {
		color: #007b5e;
		text-decoration: none;
	}

		a:hover {
			color: #d4525c;
			text-decoration: none;
		}

	.qoute {
		background: #00ffff;
		color: #fdfdfd;
		padding-left: .4rem;
		display: block;
		margin: 1rem;
	}

	.quote-user {
		color: #191b1b;
		font-weight: 600;
	}

	table {
		margin-bottom: 1.2rem;
	}

	.blk-link {
		color: black;
	}

	th {
		background-color: white;
		text-align: left;
	}


	.user {
		background: #ececec;
	}


	.profile-link {
		background: rgba(0, 0, 0, 0.3);
		color: #000000;
		padding-top: .1rem;
		padding-bottom: .1rem;
		padding-left: .2rem;
		padding-right: .2rem;
		border-radius: .2rem;
	}

	li a {
		color: #007b5e;
	}

	.breadcrumb-item.active {
		color: #c5deec;
		font-weight: 600;
	}

	.breadcrumb {
		background-color: #4f5173;
		box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
	}

	.page-item.active .page-link {
		z-index: 1;
		color: #e6faff;
		background-color: #4f5173;
		border-color: #4a4b5a;
		box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
	}

	.page-link {
		position: relative;
		display: block;
		padding: .5rem .75rem;
		margin-left: -1px;
		line-height: 1.25;
		color: #4f5152;
		background-color: #fff;
		border: 1px solid #d5d6d8;
		box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
	}

	textarea.form-control {
		height: auto;
		box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);
	}

	.pagination {
		display: -ms-flexbox;
		margin-top: -1rem;
	}
</style>

<div class="col-sm-9">
	<div class="card post">
		<span class="date">Sep 27, 2018 7:22 PM <span class="span-post-no">#@Model.Kategori.KategoriId</span> </span>
		<div class="row">
			<div class="col-sm-3 user" style="margin-bottom:40px;">
				<div class="text-center">

					<img class="img-circle" width="75" src="@Model.Uye.Foto" alt="@Model.Uye.AdiSoyad" /> <a href="/Uye/UyeProfil/@Model.UyeId"></a>
				
					<h3>@Model.Baslik</h3>
					<p><a href="/Uye/UyeProfil/@Model.UyeId" class="profile-link">@Model.Uye.AdiSoyad</a></p>

					<table style="width:100%">
						<tr>
							<th>Yüklenme Tarihi</th>
							<td>@String.Format("{0: MMMM yyyy}", Model.Tarih)</td>
						</tr>
						<tr>
							<th>Yorum</th>
							<td>@Model.Yorums.Count() </td>
						</tr>
						<tr>
							<th>Görüntülenme</th>
							<td>@Model.Okunma</td>
						</tr>
						<tr>
							<td>
								@foreach (var item in Model.Etikets)
								{
									<span class="bootstrap-tagsinput">@item.EtiketAdi</span>
								}
							</td>
							<td><a href="" class="profile-link"> @Model.Kategori.KategoriAdi (@Model.Kategori.Makales.Count())</a></td>
						</tr>
					</table>
				</div>
			</div>

			<div class="col-sm-9 post-content">
				<img src="@Model.Foto" width="550" height="340" class="img-circle" />
				<p>
					@Html.Raw(Model.Icerik)
				</p>
				@if (Session["uyeid"] != null)
				{

					<div class="well">
						<h4>Yorum</h4>
						<form role="form">
							<div class="form-group">
								<textarea id="yorum" typeof="text" class="form-control" rows="3"></textarea>
							</div>
							<button type="submit" id="gonder" class="btn btn-primary">Yorum Yap</button>
						</form>
					</div>
				}
				else
				{
					<h2>Makaleye yorum yapmak için kullanıcı girişi yapmalısınız</h2>
					<p><a href="/Uye/Login/">Giriş Yap</a></p>
				}
				<div class="media" style="float:left; display:block;">
					@foreach (var item in Model.Yorums.ToList())
					{
						<div class="well">
							<a class="pull-left" href="#">
								<img width="50" class="img-circle" style="color:#007b5e" src="@item.Uye.Foto" alt="@item.Uye.AdiSoyad">
							</a>
							<div class="media-body">
								<h4 class="media-heading">
									@item.Uye.KullaniciAdi
									<small>@item.Tarih</small>
								</h4>
								@item.Icerik - @if (Convert.ToInt32(Session["uyeid"]) == item.UyeId)
								{
									<a class="btn btn-danger" href="/Default/YorumSil/@item.YorumId">Sil</a>
								}
							</div>
						</div>
					}

				</div>
			</div>
		</div>
		<span class="likes">
			<a href="">Beğen</a>
		</span>
	</div>
</div>

<script src="~/Content/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/Content/js/bootstrap.min.js"></script>



<script type="text/javascript">

    $(document).ready(function(){
        $("#gonder").click(function () {
            var yorumunuz = $("#yorum").val();
            $.ajax({
                url: '/Default/YorumYap/',
                data: {yorum: yorumunuz, Makaleid:@Model.MakaleId},
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    alert("Başarılı "+ yorumunuz);}
                });
        });
    })


</script>
<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            url: '/Default/OkunmaArttir/',
            data:{Makaleid: @Model.MakaleId},
            type: 'POST',
        });
    })
</script>


